/VG/images
/VG/labels
/yolov5
/STACMR_train/CTC/images
/STACMR_train/CTC/detections
/STACMR_train/flickr30k/images
/STACMR_train/flickr30k/detections
/STACMR_train/text_caps/images
/STACMR_train/text_caps/detections
/precomputed_embeddings/*.npy
/checkpoints_and_vocabs/*.json
/checkpoints_and_vocabs/*.pt
/checkpoints_and_vocabs/*.pkl
/precomputed_embeddings/yolov5l.pt
/precomputed_embeddings/yolo_best.pt
/YOLOv5_train/YOLOv5_model
/runs
eh_storage.py